
<h2 mat-dialog-title>{{edit==true ?'Editar produto': 'Novo produto'}}</h2>
<mat-dialog-content>
    <mat-form-field>
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)]="name" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Categoria</mat-label>
      <select matNativeControl [(ngModel)]="categoryId">
        @for (category of categories; track $index) {
          <option [value]="category.id" >{{category.name}}</option>
        }
      </select>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="criar()">
        {{edit==true ?'Salvar atualização': 'Criar'}}
    </button>
    <button mat-button mat-dialog-close>Cancelar</button>
</mat-dialog-actions>